<!-- head -->
<%- include('./includes/head') %>
</head>

<body>
    <!-- preLoader -->
    <%- include('./includes/preLoader') %>

    <!-- Navbar -->
    <%- include('./includes/navbar') %>

    <br>
    <br>
    <br>
    <br><br>
    <br>
    <center>
        <h1>Page Not Found!</h1>
    </center>


    <!-- end -->
    <%- include('./includes/end') %>