<!-- head -->
<%- include('./includes/head') %>
</head>

<body>
    <!-- preLoader -->
    <%- include('./includes/preLoader') %>

    <!-- Navbar -->
    <%- include('./includes/navbar') %>

    <br>
    <br>
    <br>
    <br><br>
    <br>
    <center>
        <h1>Some error occurred!</h1>
        <p>We're working on fixing this, sorry for the inconvenience!</p>
    </center>


    <!-- end -->
    <%- include('./includes/end') %>