<!-- head -->
<%- include('./includes/head') %>
</head>

<body>
    <!-- preLoader -->
    <%- include('./includes/preLoader') %>

    <!-- Navbar -->
    <%- include('./includes/navbar') %>

    <br>
    <br>
    <br>
    <br><br>
    <br>
    <center>
        <h1>You're not Admin!!</h1>
        <br><br>
        <h2>You can't access this Page!!</h2>
    </center>


    <!-- end -->
    <%- include('./includes/end') %>